<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quitsmoking">

    <application
        android:icon="@mipmap/launcher_logo"
        android:label="QuitSmokingNow"
        android:roundIcon="@mipmap/launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuitSmokingNow">
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".CigaretteQuestion"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity
            android:name=".ResultActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".AlertReceiver"/>
    </application>

</manifest>